<html>
<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand text-white">COPD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#/homePage">Home</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#/addAppointment">Appointment</a>
            <a class="dropdown-item active" href="#/addExercise">Exercise</a>
            <a class="dropdown-item" href="#/addFood">Food</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <a class="dropdown-item" href="#/appointments">Appointment</a>
            <a class="dropdown-item" href="#/viewExercise">Exercise</a>
            <a class="dropdown-item" href="#/viewFood">Food</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/dashboard">Health Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/viewCalendar">Calendar</a>
        </li>
<!--         <li class="nav-item">
          <a class="nav-link" href="#/articles">Articles</a>
        </li> -->
      </ul>
    </div>
					<button type="submit" class="btn" ng-click="logout()">Logout</button>
  </nav>
	<br><br><br>

  <main role="main">

		<div class="container">
      <h3>Add Exercise</h3>
      <div class "row">
        <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="exerciseName">Exercise Name:</label>
          <div class="col-sm-10">
              <select class="custom-select custom-select-sm"ng-model="exerciseName" id="exerciseName">
              <option ng-repeat="exercise in ExerciseInfo" value="{{exercise}}">{{exercise.exercise_name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="duration">Duration in Hours:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="duration" ng-model="duration">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="date">Date:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="date" ng-model="date">
          </div>
        </div>

        <!-- TODO: create update function -->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-click=insertExercise()>Submit</button>
          </div>
        </div>
      </form>
      <div class="alert alert-danger" ng-show = "errormsg">
        <strong>Something wrong with Data!</strong> Please validate and try again.
      </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-success" ng-show="successMessagebool">
            <strong>{{successMessage}}</strong>
          </div>
        </div>
      </div>
    </div>


  </main>

</body>
</html>
